.container {
	width: 80%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}

.container h2 {
	font-size: clamp(2rem, 3vw, 3.5rem);
	font-weight: 700;
}

.container h3 {
	font-size: clamp(1.5rem, 1.5vw, 2.5rem);
	font-weight: 700;
	margin-right: auto;
}

.container > div {
	display: flex;
	width: 100%;
}

.container > div > div:last-child > input {
	width: 80%;
}

.container > div > div {
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
