.heroSection {
    position: relative;
    display: flex;
    width: 85%;
    background: rgba(180, 205, 246, 0.4);
    border-radius: 20px;
    justify-content: space-around;
    padding: 25px 50px;
    min-height: 350px;
}

.girafe {
    position: absolute;
    top: -50px;
    right: -89px;
}

.heroSection>div>img {
    width: 80%;
}

.heroContainerImg {
    background: rgba(90, 148, 197, 0.5);
    border: 1px solid #5a94c5;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.heroSection>div:last-child {
    width: 70%;
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heroSection>div:last-child h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
    margin-top: 25px;
}

.heroSection>div:last-child p {
    max-width: 500px;
}

.PokemonsContainer {
    display: grid;
    width: 90%;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
}

.PokemonsContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.PokemonsContainer>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(180, 205, 246, 0.5);
    border: 1px solid #5a94c5;
    border-radius: 20px;
    width: 200px;
    padding: 45px;
}

.PokemonsContainer>div>div>img {
    height: 100px;
}

.PokemonsContainer h3 {
    font-weight: 600;
    margin: 10px 0;
}

.PokemonsContainer h3 a:hover {
    color: #f8f32b;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .heroSection {
        flex-direction: column;
        align-items: center;
        width: 65%;
    }
}